*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
.toolbox-cont{
    height: 7rem;
    background-color: black;
    display: flex;
    align-items: center;
}

/* Dispalyflex jispe be lgana hota hae uske parent ko dena hota hae taki ke child element align ho jaye */

.toolbox-priority-cont{
    height: 5rem;
    background-color: blue;
    width:20rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
}

.action-button-cont{
    background-color: rgb(247, 76, 8);
   height: 5rem;
   width: 20rem;
   margin-left: 5rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.color{
    height: 2rem;
    width: 3rem;
    background-color: aliceblue;
    margin-left: 1.5rem;
   
   
}

.lightpink{
    background-color: lightsalmon;
}
.green{
    background-color: green;
}
.brown{
    background-color: brown;
}
.black{
    background-color: black;
}

.add-btn{
    font-size: 2.5rem;
}
.remove-btn{
    font-size: 2.5rem;
}



/* completed with first section which is nav part */


.modal-cont{
    position: absolute;
    left: 25vw;
    top: 25vh;
background-color: chartreuse;
height: 50vh;
width: 50vw;
 
display: none;

}
.textarea-cont{
 outline: none;
 resize: none;
 border: none;
 background-color: cornflowerblue;
 height: 100%;
 width: 75%;
 font-size: xx-large;
 padding: 2rem;

}
.priority-color-cont{
    height: 100%;
    width: 25%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
}
.priority-color{
    height: 2rem;
    width: 4rem;
}
.active{
    border: 4px solid red;
}

.main-cont{
 margin-top: 3rem;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 gap: 2rem;
 
}
.ticket-cont{
    background-color: rgb(79, 85, 124);
      height: 10rem;
      width: 20rem;
}
.ticket-color{
height: 1rem;
}
.ticket-id{
height: 1rem;
background-color: coral;
}
.task-area{
height: 8rem;
padding: 7px;
font-size: 1.25rem;
}


/* // second part is going on */

